extends baseEmail

block content
  p Hi #{firstName},
  p Thanks for Shopping with us ,, 
  p where we make you smile every morning.
  p Your order status is 
  p
  P Order status is completed
  p
  p Please follow the M-pesa promp to complete your order.
  p If you need any help with debugging, please don't hesitate to contact me!
  p - Joseph Maina, CEO